<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.skinsenty">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skinsenty"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MyCart.Place_Order"
            android:exported="false" />
        <activity
            android:name=".MyCart.Cart"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Skin_Detect"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Products.Product_Details"
            android:exported="false" />
        <activity
            android:name=".skin_care.Products_List"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".reminder.Notification"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".reminder.PopUpAdd" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_pop_up_add" -->
        <!-- android:theme="@style/Theme.Skinsenty" /> -->
        <activity
            android:name=".reminder.Reminder"
            android:exported="false"
            android:label="@string/title_activity_reminder"
            android:theme="@style/Theme.Skinsenty" />
        <activity
            android:name=".serum_hair"
            android:exported="false" />
        <activity
            android:name=".hairoil"
            android:exported="false" />
        <activity
            android:name=".conditionerSerum"
            android:exported="false" />
        <activity
            android:name=".faceYoga"
            android:exported="false" />
        <activity
            android:name=".shampoo_scalp"
            android:exported="false" />
        <activity
            android:name=".harscalpCare"
            android:exported="false" />
        <activity
            android:name=".menwomen_skinacreRoutine"
            android:exported="false" />
        <activity
            android:name=".sensitivemen_moisture"
            android:exported="false" />

        <receiver
            android:name=".reminder.AlarmReciver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".sensitivemen_sunscream"
            android:exported="false" />
        <activity
            android:name=".sensitivemen_facewash"
            android:exported="false" />
        <activity
            android:name=".temp.combinationskinmen_moisture"
            android:exported="false" />
        <activity
            android:name=".temp.combinationskinmen_sunscream"
            android:exported="false" />
        <activity
            android:name=".temp.combinationskinmen_facewash"
            android:exported="false" />
        <activity
            android:name=".temp.dryskinmen_moisture"
            android:exported="false" />
        <activity
            android:name=".temp.dryskinmen_sunscream"
            android:exported="false" />
        <activity
            android:name=".temp.dryskinmen_facewash"
            android:exported="false" />
        <activity
            android:name=".oilyskinmen_moiszer"
            android:exported="false" />
        <activity
            android:name=".oilyskinmen_sunscream"
            android:exported="false" />
        <activity
            android:name=".oilyskinmen_facewash"
            android:exported="false" />
        <activity
            android:name=".oilyskinmen"
            android:exported="false" />
        <activity
            android:name=".men_sensitiveskin"
            android:exported="false" />
        <activity
            android:name=".men_combinationskin"
            android:exported="false" />
        <activity
            android:name=".men_dryskin"
            android:exported="false" />
        <activity
            android:name=".moisture_sensitive"
            android:exported="false" />
        <activity
            android:name=".toner_sensitive"
            android:exported="false" />
        <activity
            android:name=".sunscream_sensitive"
            android:exported="false" />
        <activity
            android:name=".sensitive_facewash"
            android:exported="false" />
        <activity
            android:name=".temp.combination_moisture"
            android:exported="false" />
        <activity
            android:name=".toner_combination"
            android:exported="false" />
        <activity
            android:name=".sunscream_combination"
            android:exported="false" />
        <activity
            android:name=".serum_combination"
            android:exported="false" />
        <activity
            android:name=".temp.combination_facewash"
            android:exported="false" />
        <activity
            android:name=".temp.dryMostizure"
            android:exported="false" />
        <activity
            android:name=".tonerdryskin"
            android:exported="false" />
        <activity
            android:name=".sunscream_dry"
            android:exported="false" />
        <activity
            android:name=".temp.dryskin_serum"
            android:exported="false" />
        <activity
            android:name=".temp.dry_facewash_women"
            android:exported="false" />
        <activity
            android:name=".menskin"
            android:exported="false" />
        <activity
            android:name=".temp.facepack"
            android:exported="false" />
        <activity
            android:name=".moistuzers"
            android:exported="false" />
        <activity
            android:name=".toner"
            android:exported="false" />
        <activity
            android:name=".sunscream"
            android:exported="false" />
        <activity
            android:name=".serum"
            android:exported="false" />
        <activity
            android:name=".simple"
            android:exported="false" />
        <activity
            android:name=".temp.facewash_female"
            android:exported="false" />
        <activity
            android:name=".sectionskinacre"
            android:exported="false" />
        <activity
            android:name=".skincare_menwomen"
            android:exported="false" />
        <activity
            android:name=".chatbot"
            android:exported="false" />
        <activity
            android:name=".babycare"
            android:exported="false" />
        <activity
            android:name=".pregnent_mom"
            android:exported="false" />
        <activity
            android:name=".mom"
            android:exported="false" />
        <activity
            android:name=".haircare_outine"
            android:exported="false" />
        <activity
            android:name=".beardcare"
            android:exported="false" />
        <activity
            android:name=".scalpcare"
            android:exported="false" />
        <activity
            android:name=".hair_care"
            android:exported="false" />
        <activity
            android:name=".sensitiveskin"
            android:exported="false" />
        <activity
            android:name=".dryskin"
            android:exported="false" />
        <activity
            android:name=".combinationskin"
            android:exported="false" />
        <activity
            android:name=".oilyskin"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".send_email"
            android:exported="false" />
        <activity
            android:name=".contact1"
            android:exported="false" />
        <activity
            android:name=".tips_skincare"
            android:exported="false" />
        <activity
            android:name=".skinCareProducts"
            android:exported="false" />
        <activity
            android:name=".skinCareTips"
            android:exported="false" />
        <activity
            android:name=".contactDermologist"
            android:exported="false" />
        <activity
            android:name=".yourqueries"
            android:exported="false" />
        <activity
            android:name=".temp.findyourDiease"
            android:exported="false" />
        <activity
            android:name=".skinProblem"
            android:exported="false" />
        <activity
            android:name=".homePage"
            android:exported="false" />
        <activity
            android:name=".skincare"
            android:exported="false" />
        <activity
            android:name=".forgottenPassword"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".signUP"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>